.container {
    padding: 2rem;
    text-align: center;
    position: relative;
  }
  
  .button {
    position: absolute;
    top: 20px;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    background-color: #1a1a1a;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .header {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  
  .table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: left;
    background-color: #fff;
    color: #000;
  }