  .security-page .container {
    position: relative;
    padding: 2rem;
    text-align: center;
  }
  
  
  .security-page .fingerprint-button {
    padding: 2rem;
    font-size: 2rem;
    background: url('src/assets/fingerprint-icon.webp') no-repeat center center;
    background-size: cover;
    width: 200px;
    height: 200px;
    border: none;
    cursor: pointer;
  }
  
  .security-page .status-text {
    margin-top: 1rem;
    font-weight: bold;
  }
  